@import "tailwindcss";

@layer components {
    .btn {
      @apply p-5 bg-gray-100 text-gray-800 rounded-xl text-2xl font-bold shadow-md transition-all hover:shadow-lg active:scale-95;
      box-shadow: 4px 4px 8px #bebebe, -4px -4px 8px #ffffff;
    }
  
    .btn:active {
      box-shadow: inset 4px 4px 8px #bebebe, inset -4px -4px 8px #ffffff;
    }
  
    .neumorphism {
      box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    }
  }
  